@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563eb;
  --primary-dark: #1d4ed8;
}

body {
  @apply antialiased text-gray-100 bg-black;
}

.monaco-editor {
  padding: 0.5rem;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-white to-gray-400;
}

.radial-background {
  background: radial-gradient(circle at center, rgba(38, 38, 38, 0.5) 0%, transparent 70%);
}